<!-- 
    Note: EJS File is HTML file with the ability to render stuff from the server
    This is called 'server-side' rendering
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Jokes</title>
</head>
<body>
    <!-- 
        Message: https://bulma.io/documentation/components/message/
        Title: https://bulma.io/documentation/elements/title/
        Button: https://bulma.io/documentation/elements/button/
     --> 

    <div class="container">
         <br />
        <h2 class="title is-2">Best Jokes</h2>
        <a href="/jokes.html">
            <button class="button is-info">Random Jokes</button>
        </a>
        <br />
        <br />
        <% data.forEach((joke) => { %>
            <article class="message is-medium">
                <div class="message-header">
                <p> Total Upvotes: <%= joke.upvotes %></p>
                </div>
                <div class="message-body">
                    <%= joke.joke %>
                </div>
            </article>
        <% }) %>

    </div>

</body>
</html>